.idea/
.idea/*
*.iml
.vscode/
.vscode/*
.directory
*.class

# Backend build directory
target/

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python coverage library
.coverage
raspberry/.coverage
raspberry/coverage.xml

# backend logs
logs/
